/* style.css */
.Container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

.FAQ {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    transition: all 0.3s ease-in-out;
}

.FAQ:last-child {
    border-bottom: none;
}

.Question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 10px 0;
}

.Question p {
    margin: 0;
    font-size: 1.1rem;
    color: #333;
}

button {
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
    color: #007bff;
    cursor: pointer;
    transition: transform 0.3s ease;
}

/* button:hover {
    transform: rotate(90deg);
} */

p {
    font-size: 0.9rem;
    color: #555;
    margin: 10px 0 0;
    line-height: 1.6;
}

p + p {
    margin-top: 5px;
}


